<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Briefing</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>

	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Cartorio</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de evento</a></li>
		      </ul>
		    </div>
		</nav>
	</header>
	
	<div th:each="cartorio : ${cartorio}" class="container detalhesCartorio">
	<h5>Info do Cartorio</h5>
		<div class="row">
			<p>Nome: <span th:text="${cartorio.name}"></span></p>
			<p>Local: <span th:text="${cartorio.endereco}"></span></p>
		</div>
	</div>
	
		 <th:block th:include="mensagemValidacao"></th:block>
		<div class="container formCertificados">
		<form method="post" th:object="${certificados}">
			Tipo de Certificado: <input type="text" value="" name="nomeCertificado" placeholder="Tipo de Certificado"/>
			<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
		</form>
		</div>

	<table class="container tabelaCertificado">
		<thead>
			<tr>
				<th>Tipo de Certificado</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="certificados : ${certificados}">
				<td><span th:text="${certificados.name}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#deletarCertificado').arg(0, certificados.uuid)).build()}"><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>
	

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>